<template>
 <div>
 	<div class="card-body">
		
    	<div class="row">
			<div class="col-1 bg-primary">
				<label for="customer" class="col-form-label text-white text-center">Cliente:</label>
			</div>
	 		<div class="col-5">
	            <input type="text" placeholder="Escribe el nombre del cliente" v-model="query" v-on:keyup="autoComplete" class="form-control" :disabled="customerEnabled == 0">
			</div>
			<div class="col-2">
				<span v-model="rfc" v-if="this.rfc">RFC: {{ this.rfc }}</span>
			</div>
			<div class="col-2" v-if="this.rfc"><a href="#" v-on:click.prevent="changeCustomer()">Cambiar Cliente</a>
			</div> 
		</div>
		<div class="panel-footer col-sm-6" v-if="results.length">
		   <ul class="list-group">
		    <li class="list-group-item" v-for="result in results" v-on:click.prevent="searchSelect(result)">
		     {{ result.name }} {{ result.father_lastname}} {{ result.mother_lastname}}
		    </li>
		   </ul>
		</div>
		<br>
		<div class="row">
			<div class="col-1 bg-primary">
				<label for="article" class="col-form-label text-white text-center">Artículo:</label>
			</div>
	 		<div class="col-5">
	            <input type="text" placeholder="Escribe el nombre del artículo" v-model="queryart" v-on:keyup="autoCompleteart" class="form-control">
			</div>
			<div class="col-3"><a href="#"><i v-on:click.prevent="showArticles()" style="font-size:30px;" class="material-icons text-gray">add_box</i></a></div>
			
			
			
		</div>
		<div class="panel-footer col-sm-6" v-if="resultsarts.length">
		   <ul class="list-group">
		    <li class="list-group-item" v-for="resultart in resultsarts" v-on:click.prevent="searchSelectart(resultart)">
		     {{ resultart.description }}
		    </li>
		   </ul>
		</div>

		
		
		

		<hr>
		<!-- SHOW ARTICLES -->
		<div v-show="this.showArt">
			<table class="table">
			  <thead class="thead-light">
			    <tr>
			      <th scope="col">Descripción Artículo</th>
			      <th scope="col">Modelo</th>
			      <th scope="col">Cantidad</th>
			      <th scope="col">Precio</th>
			      <th scope="col">Importe</th>
			      <th scope="col"></th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr v-for="article in articles">
			      <th scope="row">{{ article.description }}</th>
			      <td>{{ article.model }}</td>

			      <td><input type="text" style="width:50px" v-model="article.quantity" v-on:keyup="updateArticle(article)"></td>

			      <td>{{ article.price }}</td>
			      <td v-if="article.amount">{{ article.amount }}</td>
			     
			      <td><a href="#" v-on:click.prevent="deleteArticle(article)"><i class="material-icons text-danger">clear</i></a></td>
			    </tr>
			  </tbody>
			</table>
		<hr>
			
			
		</div>
		<div class="row text-right ">
			<div class="col-8 push-6 text-white"><label style="width:100px;" class="bg-secondary text-center">Enganche:</label></div>
			<div class="col-2 " v-if="total.hooking">{{ total.hooking }}</div>
		</div>
		<div class="row text-right ">
			<div class="col-8 push-6 text-white"><label style="width:170px;" class="bg-secondary text-center">Bonificación Enganche:</label></div>
			<div class="col-2 " v-if="total.hooking_bonus">{{ total.hooking_bonus }}</div>
		</div>
		
		<div class="row text-right ">
			<div class="col-8 push-6 text-white"><label style="width:170px; padding-right: 10px;" class="bg-secondary text-right">Total:</label></div>
			<div class="col-2 "v-if="total.total">{{ total.total }}</div>
		</div>



	</div>
	<div class="form-group row text-right" v-show="step==1">
    	<div class="col-sm-10">
        	<a class="btn btn-success" href="#" v-on:click.prevent="cancel('/sales')">Cancelar</a>
        	<button type="submit" class="btn btn-success" v-on:click.prevent="nextStep()">Siguiente</button>
        </div>
    </div>
	<!-- PANTALLA DE PLAZOS -->
	<div style="display:none;" v-show="this.step == 2">
		<div style="background-color: #b4a7ef">
		      <h4 style="height: 65px; padding-top: 23px; color:#2b417f" class="text-center text-white">ABONOS MENSUALES</h4>
		      
		    </div>
		<table class="table">

		  <thead class="thead-light">
		    
		  </thead>
		  <tbody>
		    <tr v-for="plazo in plazos">
		      <th scope="row">{{ plazo.plazo }} ABONOS DE </th>
		      <td>${{ plazo.abono }}</td>
		      <td>TOTAL A PAGAR ${{ plazo.total }}</td>
		      <td>SE AHORRA ${{ plazo.ahorro }}</td>
		      <td>

		      	<input type="radio" name="plaz" v-model="selectPlazo" v-on:change="changePlazo(plazo)">
		      </td>
		    </tr>
		  </tbody>
		</table>

		<div class="form-group row text-right" v-show="step==2">
	    	<div class="col-sm-10">
	        	<a class="btn btn-success" href="#" v-on:click.prevent="cancel('/sales')">Cancelar</a>
	        	<button type="submit" class="btn btn-success" v-on:click.prevent="saveSale()">Guardar</button>
	        </div>
	    </div>
	</div>
</div>
</template>



<script>
 export default{
  data(){
   return {
    query: '',
    customerEnabled: true,
    results: [],
    resultsarts:[],
    rfc: '',
    queryart: '',
    showArt: false,
    customer:{'id':'', 'name':'', 'rfc': '', 'father_lastname': '', 'mother_lastname':''},
    articles: [],
    amount: '',
    quantity:'',
    total:[],
    sumAmount: 0,
    plazos:[],
    step: 1,
    selectPlazo: false
   }
  },
  methods: {
   autoComplete(){
    this.results = [];
    if(this.query.length > 2){
     axios.get('/customersget',{params: {query: this.query}}).then(response => {
      this.results = response.data;
     });
    }
   },
   autoCompleteart(){
   	this.resultsarts =[];
   	if(this.queryart.length > 2){
   		axios.get('/articlesget',{params: {queryart: this.queryart}}).then(response =>{
   			this.resultsarts = response.data;
   		});
   	}
   },
   searchSelect(result){
   	this.customer.id = result.id;
   	this.rfc =result.rfc;
   	this.query = result.name+' '+result.father_lastname+' '+result.mother_lastname;
   	this.results = [];
   	this.customerEnabled = false;
   	// console.log(this.costumer.id);
   },
   searchSelectart(resultart){
 
   	if(this.validateArticle(resultart) == false){
   		console.log("nopasa");
   		return;
   	}
   	axios.get('/getprice',{params: {id: resultart.id}}).then(response => {
   		// console.log(response.data);
      resultart.price = response.data;
      resultart.amount = resultart.price * 1;
	     if(resultart.quantity < 1 || resultart.quantity == null){
	   		resultart.quantity = 1;
	   		resultart.amount = resultart.price;
	   	}
	   	this.articles.push(resultart);
	   	//console.log(this.articles);
	   	this.resultsarts = [];
	   	this.queryart = '';
	   	this.getTotales();
     });
   	
   },
   validateArticle(article){
   		var cancel = false;
   		this.articles.map(function(dato){
	   		if(dato.id == article.id){
	   			toastr.error('Intenta agregando mayor Cantidad', 'Artículo duplicado');
	   			cancel = true;
	   		}

	   	});
	   	if(cancel){
	   		return false;
	   	}

	   	if(article.existence <=0){
	   		toastr.error('El artículo seleccionado no cuenta con existencia, favor de verificar.', 'Artículo sin existencias');
	   			return false;
	   	}
	   	return true;

   },
   changeCustomer(){
   	this.rfc = '';
   	this.query='';
   	this.customerEnabled = true;
   },
   showArticles(){
   	if(this.showArt == false){
   		this.showArt = true;
   		return;
   	}
   	this.showArt = false;
   },
   updateArticle(article){

   	article.amount = article.price * article.quantity;

   	this.articles.map(function(dato){
   		if(dato.id == article.id){
   			if(isNaN(parseInt(article.quantity))){
   				dato.quantity = 1;
   				dato.amount = article.price;
   				toastr.error('Debe escribir un número en la cantidad del artículo.', 'La cantidad debe ser un número');
   				return dato;
   			}
	      	dato.quantity = article.quantity;
	      	dato.amount = article.price * article.quantity;
	      	if(article.existence < article.quantity){
					toastr.error('La cantidad seleccionada es mayor a la existencia del artículo, favor de verificar.', 'Cantidad mayor a la existencia');
					dato.quantity = 1;
					dato.amount = article.price;
			}
				
			
   		}
	  
	  	return dato;
	});
	// if(cancel){
 //   		return;
 //   	}
	this.articles.push();
	this.getTotales();
	console.log(this.articles);
   
   	

   },
   deleteArticle(article){
   	this.articles.pop(article);
   	this.getTotales();
   },
   getTotales(){
   		var sumAmount = 0;
   		$.each(this.articles,function(pos, elemento){
		    sumAmount += elemento.amount;
		 });

   		//OBTENER TOTALES
   		 axios.get('/getTotales',{params: {sumAmount: sumAmount}}).then(response => {
		    this.total.hooking = response.data.hooking;
   			this.total.hooking_bonus = response.data.hooking_bonus;
   			this.total.total = response.data.total;
   			this.total.push();
		 });

   		
   		
   	
   		this.sumAmount = sumAmount;
   },
   nextStep(){
   	
   	//VERIFICAR QUE EXISTA CLIENTE SELECCIONADO
   	if(this.customerEnabled){
   		toastr.error('Seleccione un cliente para poder continuar la venta.', 'Debe seleccionar un cliente');
   		return;
   	}
   	//VERIFICAR QUE EXISTE POR LO MENOS UN ARTÍCULO AGREGADO
   	if(this.articles.length <=0){
   		toastr.error('Seleccione por lo menos un artículo para continuar la venta.', 'Debe seleccionar un artículo');
   		return;
   	}
   	//OBTENER DATOS DE PLAZOS

   	axios.get('/getPlazos',{params: {sumAmount: this.total.total}}).then(response => {
   		console.log(response.data);
	    this.plazos = response.data;
	    //MOSTRAR PANTALLA DE PLAZOS
	   	this.step = 2;
	 });
   },
   changePlazo(plazo){
   	this.selectPlazo = plazo.plazo;
   	console.log(plazo);
   },
   saveSale(){

   		if(!this.selectPlazo){
   			toastr.error('Debe seleccionar un plazo para realizar el pago de su compra.', 'Falta plazo de pago');
   			return false;
   		}

   		//GUARDAR VENTA
   		axios.post('/saveSale', {
		    customer_id: this.customer.id,
		    hooking: this.total.hooking,
		    hooking_bonus: this.total.hooking_bonus,
		    total_owed: this.total.total,
		    monthly_payment_number: this.selectPlazo,
			sumAmount: this.sumAmount,
		    articles: this.articles
		 })
		 .then(function (response) {
		 	console.log(response.data);
		    toastr.success('Tu venta ha sido registrada correctamente.', 'Bien Hecho');
		    window.location = '/sales';
		 })
		 .catch(function (error) {
		    toastr.error(error, 'Ocurrió un error');
		 });
   		// customer_id
   		// hooking   this.total.hooking
   		// hooking_bonus this.total.hooking_bonus
   		// total_owed this.total.total
   		// monthly_payment_number 
   		// cash_price
   		// payment_ammount
   },
   cancel(redirect){
   	if (!confirm('Realmente desea cancelar?')) {
    	event.preventDefault();
   	}else{
   		window.location.href = redirect;
   	}
   	
   }
  }
 }
</script>